body{

background:#020617;
color:white;
font-family:Poppins;

}

nav{

display:flex;
justify-content:space-between;
padding:20px;

}

.hero{

display:flex;
align-items:center;
justify-content:center;
gap:80px;
height:80vh;

}

.profile{

width:200px;
border-radius:50%;

}

.glass{

background:rgba(255,255,255,0.05);
padding:40px;
border-radius:15px;
backdrop-filter:blur(15px);

}

.btn{

background:#22c55e;
padding:10px 20px;
border-radius:20px;
color:black;
text-decoration:none;

}

.terminal{

padding:40px;
font-family:monospace;
color:#22c55e;

}

.chatbot{

padding:40px;

}